* {
    box-sizing: border-box;
}

.header-panel {
    background-color: #009587;
    height: 144px;
    position: relative;
    z-index: 3;
}

.header-panel div {
    position: relative;
    height: 100%;
}

.header-panel h1 {
    color: #FFF;
    /*font-size: 20px;*/
    /*font-weight: 400;*/
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.menu {
    overflow: auto;
    padding: 0;
}
.my-btn:hover {
    background: #ffffff !important;
}
.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
    margin: 7px 0;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

.pages > div {
    padding: 0 5px;
    padding-top: 64px;
}

.pages .header {
    color: rgb(82, 101, 162);
    /*font-size: 24px;*/
    /*font-weight: normal;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 60px;*/
    /*letter-spacing: 1.20000004768372px;*/
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.opensource {
    color: rgba(0, 0, 0, 0.62);
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 100;
}

#source-modal h4 {
    color: black;
}

#paypal .btn {
    padding: 5px 30px 6px 30px;
}

#paypal input {
    background: transparent;
    border: 0;
}

.cbwrapper div {
    display: none;
}

.cbwrapper div:nth-child(2) {
    display: block;
}

#carbonads, #fakecb {
    border: 1px solid #d5d5d5;
    font-size: 11px;
    line-height: 15px;
    overflow: hidden;
    width: 340px;
    padding: 20px;
    margin: auto;
    height: 142px;
    border-radius: 2px;
}

#carbonads .carbon-img {
    float: left;
    display: block;
}

#carbonads .carbon-text, #carbonads .carbon-poweredby {
    float: left;
    width: 150px;
    padding: 0 10px 10px 10px;
}

#carbonads .carbon-text:hover, #carbonads .carbon-poweredby:hover {
    text-decoration: none;
}

#carbonads .carbon-poweredby {
    color: #9D9D9D;
}

/*#checkbox .sample1 label {*/
    /*font-weight: bold;*/
/*}*/

/*#checkbox .hint {*/
    /*padding-left: 45px;*/
    /*padding-top: 20px;*/
    /*font-weight: 400;*/
/*}*/

/*#checkbox .sample1 {*/
    /*padding-bottom: 20px;*/
/*}*/

/*#checkbox h2 {*/
    /*font-size: 18.7199993133545px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 30px;*/
/*}*/

/*#checkbox .sample2 {*/
    /*width: 300px;*/
    /*clear: both;*/
    /*font-weight: 400;*/
/*}*/

/*#checkbox .sample2 {*/
    /*padding: 10px 0;*/
/*}*/

/*#checkbox .sample2 .text {*/
    /*display: inline-block;*/
/*}*/

/*#checkbox .sample2 .checkbox {*/
    /*float: right;*/
    /*margin: 0;*/
/*}*/

/*#progress-bar h2 {*/
    /*font-size: 18.7199993133545px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 30px;*/
/*}*/

/*#dialog h2 {*/
    /*padding: 14px;*/
    /*margin: 0;*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
/*}*/

/*#shadow h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

#shadow .sample {
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    display: inline-block;
}

#shadow-sample2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

#shadow-sample3 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    border-radius: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*#radio-button h2 {*/
    /*font-size: 18.7199993133545px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 30px;*/
    /*margin-top: 50px;*/
/*}*/

/*#radio-button .radio {*/
    /*margin: 20px 10px;*/
/*}*/

/*#input h2 {*/
/*padding: 14px;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

#input .inputs {
    width: 80%;
}

/*#input .form-group {*/
    /*margin: 30px 0;*/
/*}*/

/*#slider .sample1, #slider .sample2 {*/
    /*padding: 20px 0;*/
    /*background-color: #f0f0f0;*/
    /*margin-bottom: 20px;*/
/*}*/

#slider .sample2 {
    height: 150px;
}
.img-project {
    width: 100%;
    height: 40%;
}
.card-project {
    min-height: 300px !important;
}
.text-project {
    padding: 10px;
    height: 50%;
}
.card-image {
    min-height: 100px;
    background-color: #eee;
}
    .card-image img {
        width: 100%;
        max-width: 100%;
        display: block;
    }
.border-tlr-radius { 
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
}
.well {
    height: 500px; !important;
    max-width: 524px !important;
    margin: 50px auto !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
}
.active>a {
    background-color: #FFF9C4 !important ;
    color: black !important;
}
.navbar {
    background-color: #FFEE58 !important;
    
}

.title {
      text-align: center;
    font-size: 15px;
    padding-top: 4px;
}

.container-fluid {
    padding: 5%;
}
.status-all {
    text-align: center;
    font-size: 15px;
    padding-top: 4px;
    color: #00E676;

}
.status-inwork {
    text-align: center;
    font-size: 15px;
    padding-top: 4px;
    color: #0091EA;

    
}

/*#slider .sample2 .slider {*/
    /*margin: 0 40px;*/
/*}*/

/*#slider h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#slider .slider {*/
    /*margin: 15px;*/
/*}*/

/*#button h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#floating-action-button .btn {*/
    /*margin: 20px;*/
/*}*/

/*#floating-action-button h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown .dropdown {*/
    /*font-size: 30px;*/
    /*padding: 20px;*/
/*}*/

/*#dropdown-menu h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown-menu .sample {*/
    /*width: 200px;*/
/*}*/

/*#dropdown-menu .form-group {*/
    /*margin: 30px 0;*/
/*}*/

/*#toggle-button h2 {*/
    /*font-size: 18.7199993133545px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 30px;*/
    /*margin-top: 50px;*/
/*}*/

/*#toggle-button .togglebutton label {*/
    /*margin: 20px 10px;*/
    /*width: 200px;*/
/*}*/

/*#toggle-button .togglebutton .toggle {*/
    /*float: right;*/
/*}*/
