/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#panel3 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#panel3 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
#panel3 {
	line-height: 1;
}
#panel3 ol, ul {
	list-style: none;
}
#panel3 blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
#panel3 q:before, q:after {
	content: '';
	content: none;
}
#panel3 table {
	border-collapse: collapse;
	border-spacing: 0;
}